
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    
}

h1{
	background-color: #024b94;
	color: white;
	text-align: center;
	font-size: 75px;
	margin-top: 0;
    
}

form{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 35%;
    bottom: 20%;
    width:30%; 
      
}
h3{
    color: black;
}
.radio{
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-evenly;
    font-size: 14px;
    color: black;
}
#sideDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sideDiv p{
    margin-bottom: 10px;
}

form input{
   outline: none;
   border: 1px solid silver;
   margin-bottom: 24px;
   font-size: small;
   

   padding: 3px;
   min-height: 30px;
   background-color: whitesmoke;
}

button{
   background-color: aquamarine;
   cursor: pointer;
   width: 50%;
   margin-left: 20%;
   margin-top: -20px;
}
select{
    margin-bottom: 35%;
    width:80%;
}
button:hover{
    width:50%;
    background-color: rgb(25, 130, 241);
}